@model TheatreCMS3.Areas.Rent.Models.RentalHistory

@{
  ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  <h2 style="text-align:center">Create Rental History</h2>
  <div class="rounded form-horizontal p-3" style="background: #f04d44; max-width: 600px; margin: auto">
    <div class="row justify-content-center">
      <div class="col-6 ">
        <div class="form-group">
          <h2 class="control-label ">Rental</h2>
          
            @Html.EditorFor(model => model.Rental, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rental, "", new { @class = "text-danger" })
          
        </div>
      </div>

      <div class="col-6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          <h2 class="control-label">Damaged?</h2>
            <div class="checkbox" id="stateCheck" onchange="checkLink()">
              @Html.EditorFor(model => model.RentalDamaged)
              @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })
            </div>
        </div>
      </div>
    </div>


    <div class="row ">
      <div class="col-12 m-auto">

        <div class="form-group">
          <h2 class="control-label col-md-2" id="Switch">Notes</h2>
          
            @Html.EditorFor(model => model.DamagesIncurred, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DamagesIncurred, "", new { @class = "text-danger" })
          
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 text-right">
        <button onclick="~/rent/rentalhistory" class="btn btn-secondary">
          Back to List
        </button>
      </div>

      
        <div class="col-6">
          <input type="submit" value="Create" class="btn btn-success" />
        </div>
      
    </div>
  </div>
}




<script>
  var Counter = 0;
  function checkLink() {
    console.log("This hit")
    Counter += 1;
    console.log(Counter);
    if (Counter % 2 == 0) {
      document.getElementById("Switch").innerHTML = "Notes"
    }
    else {
      document.getElementById("Switch").innerHTML = "Damages"
    }
  }

</script>